#Vendor
vendor/

#Storage
storage/

#database
public/adminer.php

#Uploads
public/uploads

#idea
.idea/

#ENV
.env

#COMPOSER
composer.lock

#Hook
public/hook
~

#zendstuio setting
.buildpath
.settings/
.project
